.os-window-wrapper {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.os-window {
  width: 720px;
  height: 512px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border: 2px solid #000;
}

.os-window__content {
  height: calc(100% - 40px);
  margin-top: 40px;
  position: relative;
  overflow: hidden;
}

/* Переопределяем стили хедера внутри окна */
.os-window .header {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
} 